@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

    body{
        margin: 0;
        padding: 0;
    }

header{
    background-image: url(/projeto_mercado/img/img01.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

nav {
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: burlywood;

    
}

main {
    text-align: center;
    background-color: blanchedalmond;
    width: 70%;
    padding: 40px;
}

aside {
    text-align: center;
    background-color: aqua;
    width: 30%;
    padding: 50px;
}
footer{
    background-color: azure;
    height: 150px;
    position: relative;
    font-size: 50px;
}

.left{
    display: flex;
    flex-wrap: wrap;
}

#container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

#container img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 16px;
}

.next {
    right: 0;
}